.element__btn-like {
    min-width: 22px;
    min-height: 19px;
    align-self: center;
    background-color: #fff;
    background-image: url(../../../images/like__inactive.svg);
    margin: 0 20px 0 0;
    border: 0;
    opacity: 1;
}

.element__btn-like:hover {
    cursor: pointer;
    opacity: 0.5;
}