.profile-info__subtitle {
    max-width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-area: profile-info__subtitle;
    margin: 0;
}