.profile__add-button {
    width: 150px;
    height: 50px;
    align-items: flex-end;
    background-color: black;
    background: url(../../../images/cross.png) center no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__add-button {
        width: 282px;
    }

}