.profile-info__title {
    max-width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFF;
    grid-area: profile-info__title;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile-info__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}