.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  background-size: cover;
  z-index: 0;
}

@media screen and (min-width: 320px) and (max-width: 980px) {
  .popup__image {
    width: 240px;
    height: 299px;
  }
}
