.element__text {
  max-width: 200px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #000;
  margin: 25px 0 31px 21px;
}
